{% extends 'myapp/base.html' %}
{% block body %}
<div class="product-container flex">
  {% if products %}
    {% for product in products %}
      <div class="product shadow-lg w-1/4 rounded-lg m-10">
        <div class="product-image">
          {% if product.image %}
            <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
          {% else %}
            <img src="https://www.example.com/placeholder-image.png" class="card-img-top" alt="Product Image Placeholder">
          {% endif %}
        </div>
        <div class="p-5">
          <div class="font-bold">
            {{ product.name }}
          </div>
          <div>
            {{ product.description }}
          </div>
          
          <div class="text-green-700 font-bold">
            ${{ product.price }}
          </div>
          <div class="mt-5">
            <a class="bg-green-500 text-white px-4 py-2" href="{% url 'detail' product.id %}">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="text-center">
      <p>No products available at the moment. Please check back later.</p>
    </div>
  {% endif %}
</div>
{% endblock %}
